/*header*/
header{
    background-image: url(images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
}
li a{
    flex-direction: row;
    text-decoration: none;
    color: #FFFFFF;
    padding: 18px 20px;
    font-weight: 300;
    line-height: 15.08px;
    font-size: 12px;
    
}
a:hover{
    color: #FF6565;
}

/*main part*/
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}
 h1,  p{
    color: #FFFFFF;
}
.btn{
    display: inline-block;
    width: 162px;
    border-radius: 80px;
    height: 44px;
    border: 1px;
    text-decoration: none;
    color: white;
    background-color: orange;
    text-transform: uppercase;

}
.btn:hover{
    opacity: o.9;
}
.subtitle-content{
    width: 50%;
    padding: 10px;
    margin: auto;
}

